<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Ventas</title>
    <style>
    label {
    	font-family: arial, sans-serif;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 40%;
    }
    td, th {
      border: 2px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    </style>
</head>
<body>
<h2>CONSULTA DE VENTAS</h2>

<form action="consultar" id="folioForm">
    <label for="folioField">Folio de Venta:</label>
    <div>
        <input name="folio" id="folioField" th:value="${folio}">
        <button>Consultar</button>
    </div>
</form>
<br>
<label for="productTable">Listado de Productos:</label>
<table id="productTable">
    <tr>
        <th>No.</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Total</th>
    </tr>
    <tr th:each="venta : ${ventas}">
        <td th:text="${venta.idProducto}">107</td>
        <td th:text="${venta.nombre}">Botella de Agua</td>
        <td th:text="${venta.cantidad}">2</td>
        <td th:text="${venta.precioUnitario}">10</td>
        <td th:text="${venta.total}">20</td>
    </tr>
</table>
<br>
<div>
    <label for="totalProductos">Total Productos:</label>
    <input id="totalProductos" th:value="${totalProductos}" readonly>
    <label for="totalVentas" >Total Ventas:</label>
    <input id="totalVentas" th:value="${totalVentas}" readonly>
</div>
</body>
</html>